* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: rgb(var(--foreground-rgb));
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

.form{
	width: 100%;
	max-width: 560px;
	margin: auto;
}
.form-control {
	display: flex;
	align-items: flex-end;
	gap: 1rem;
}
.form .components-base-control {
    flex: 1 1 100%;
}
.form-control > button {
	margin-bottom: 8px;
}

.critical-css-results {
	display:flex;
	gap: 2rem;
}
.critical-css-result {
	flex: 1 1 100%;
}
.critical-css-result textarea {
	width: 100%;
}

.critical-css-actions-download {
	display:flex;
	justify-content: center;
	gap: 2rem;
	padding: 2rem 1rem;
}
